.active{
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 20px;
  }
  
  a{
    color:aliceblue;
    text-decoration: none;
  }
  
  a:hover{
    color:aliceblue;
  }
  .logo-Img{
    height: 80x;
    width: 80px;
    border-radius: 100%;
  }
 .textsty{
  font-size: 21px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
 }
 .textstyle{
  font-size: 25px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
 }

 #drop-down{
  /* background-color: #4cb84c; */
  color:#4cb84c;
  font-weight: bold;
  
  /* border-radius: 5px; */
}